@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: atma;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #662946;
    --foreground: #cc528d;
    --darkBackground: #421b2e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
  grid-template-rows: 100px 200px 300px 200px;
}

#postForm {
  display: flex;
  align-items: start;
  justify-self: center;
  margin: 2%;
  grid-area: 2 / 3 / 4 / 4;
  flex-direction: column;
}
